/* Set the size of the div element that contains the map */
#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
  }

label {
  font-family: 'Roboto Medium', sans-serif;
  font-size: 14px;
  color: #000;
  font-weight: 500;
}